#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@import "assets/css/fonts";
@import "assets/css/icons";
@import "tippy.js/dist/tippy.css";
@import "tippy.js/animations/scale.css";

body {
    margin: 0;
    * {
        direction: rtl;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.container-main {
    background-image: url("./assets/svgs/top-typo.svg");
}

.container-footer {
    background-image: url("./assets/svgs/buttom-typo.svg");
}
